@{
    ViewBag.Title = "Cpf_Cnpj_IRPF_IRPJ_Comex_Receita_Federal_Brasil";
    Layout = "~/Views/Shared/_LayoutRFB.cshtml";
}

<h2>Cpf Cnpj IRPF IRPJ Comex Receita Federal Brasil</h2>

<div class="row">
    <div class="col-md-12">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Simplex 2016-01 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1847611814626404"
             data-ad-slot="6069916587"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <br />
        <br />
        <a href="http://idg.receita.fazenda.gov.br/">Declaração de Imposto de Renda 2016 e consulta de CPF junto ao site oficial da Receita Federal do Brasil está disponível em http://www.receita.fazenda.gov.br</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <br />
        <br />
        <a href="http://idg.receita.fazenda.gov.br/">Statement of Income Tax 2016 and CPF consultation with the official website of the Federal Revenue of Brazil is available in http://www.receita.fazenda.gov.br</a>
    </div>
</div>


