@{
    ViewBag.Title = "Cpf_Serasa_Spc_Receita_Federal_Leilao";
    Layout = "~/Views/Shared/_LayoutRFB.cshtml";

}

<h2>Cpf Serasa Spc Receita Federal Leilão</h2>

<div class="row">
    <div class="col-md-12">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Simplex 2016-01 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1847611814626404"
             data-ad-slot="6069916587"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

    </div>
</div>
