@using Mercoplano.Simplex.Server.MvcUI.Controllers;
@{
    ViewBag.Title = BaseMvc.GetLabel("News", (Int16)ViewBag.LanguageId);
    Layout = "~/Views/Shared/_LayoutNews.cshtml";
}

<div class="jumbotron">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Simplex 2016-01 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-1847611814626404"
         data-ad-slot="6069916587"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<div class="row">

    <div class="col-md-4">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Simplex 2016-01 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1847611814626404"
             data-ad-slot="6069916587"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div class="col-md-4">
        <h2>Calendário do PIS 2016</h2>
        <p>
            O calendário do PIS 2016 ainda não foi divulgado pela Caixa Econômica Federal. Pois os pagamentos PIS de 2015 ainda não foi finalizado, o que deve ocorrer até 30/06/2016, conforme divulgado no site da instituição.
        </p>
        <p><a class="btn btn-default" href="http://www.caixa.gov.br/beneficios-trabalhador/pis/Paginas/default.aspx">Leia mais a respeito de PIS</a></p>
    </div>

    <div class="col-md-4">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Simplex 2016-01 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1847611814626404"
             data-ad-slot="6069916587"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>

<div class="row">

    <div class="col-md-4">
    </div>

    <div class="col-md-4">
        <h2>Declaração de Imposto de Renda</h2>
        <p>
            Programa gerador de declaração de Imposto de Renda 2016 já está disponível para ser baixado do site oficial da Receita Federal do Brasil (www.receita.fazenda.gov.br).
        </p>

        <p><a class="btn btn-default" href="http://idg.receita.fazenda.gov.br">Leia mais a respeito de Iposto de Renda</a></p>
    </div>

    <div class="col-md-4">
    </div>
</div>

<div class="row">

    <div class="col-md-4">
    </div>

    <div class="col-md-4">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Simplex 2016-01 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1847611814626404"
             data-ad-slot="6069916587"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div class="col-md-4">
    </div>

</div>

<div class="row">

    <div class="col-md-4">
    </div>

    <div class="col-md-4">
        <h2>Bolsa Família</h2>
        <p>
            Bolsa família é um benefício social que concentra diversos antigos benefícios em um só. Seu alvo e a população de baixa renda. Tem como critério básico a frequência escolar dos filhos menores de idade.
        </p>

        <p><a class="btn btn-default" href="http://www.caixa.gov.br/programas-sociais/bolsa-familia/Paginas/default.aspx">Verifique se você tem direito ao benefício</a></p>
    </div>

    <div class="col-md-4">
    </div>
</div>

<div class="row">

    <div class="col-md-4">
    </div>

    <div class="col-md-4">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Simplex 2016-01 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1847611814626404"
             data-ad-slot="6069916587"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div class="col-md-4">
    </div>

</div>

<div class="row">

    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <h2>Nota Fiscal Paulista</h2>
        <p>
            Nota Fiscal Paulista é um programa de recompensa associada à responsabilidade fiscal. Neste sistema o consumidor exige a nota fiscal e informa o número do CPF ou CNPJ ao efetuar suas compras no comércio em geral. Parte dos impostos (ICMS) gerados pela transação é reembolsada ao contribuinte pelo governo do Estado.
            Este programa está sobre responsabilidade da Secretaria da Fazenda do Estado de São Paulo. Outros Estados implantaram programas semelhantes.
        </p>

        <p><a class="btn btn-default" href="http://www.nfp.fazenda.sp.gov.br/">Veja mais detalhes no site Oficial</a></p>
    </div>

    <div class="col-md-4">
    </div>
</div>

<div class="row">

    <div class="col-md-4">
    </div>

    <div class="col-md-4">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Simplex 2016-01 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1847611814626404"
             data-ad-slot="6069916587"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div class="col-md-4">
    </div>

</div>

<div class="row">

    <div class="col-md-4">
    </div>

    <div class="col-md-4">
        <h2>eSocial</h2>
        <p>
            eSocial é um sistema do Governo Federal em desenvolvimento para a integração e processamento de direitos e deveres trabalhistas. Atualmente estão disponíveis rotinas para facilitar ao empregador o cumprimento de obrigações trabalhistas decorrentes da contratação de empregados domésticos.
        </p>

        <p><a class="btn btn-default" href="http://www.esocial.gov.br">Veja mais detalhes no site Agregador</a></p>
    </div>

    <div class="col-md-4">
    </div>
</div>
