@using Mercoplano.Simplex.Server.MvcUI.Controllers;

@{
    Layout = "~/Views/Shared/_LayoutPageBestPrice.cshtml";
}

@{
    ViewBag.Title = BaseMvc.GetLabel("Simplex", (Int16)ViewBag.LanguageId);
}

<div class="row">

    <div class="col-md-4">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Simplex 2016-01 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1847611814626404"
             data-ad-slot="6069916587"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div class="col-md-4">
        <h2>Desetupidora para sua humilde residência</h2>
        <p>
Desetupidoras são empresas que proveem a desobstrução de encanamentos de esgoto – e em paralelo manutenção em encanamentos de água potável (água limpa). Este concerto se dá principalmente pela introdução de equipamentos no interior dos encanamentos, ou até o uso de algum produto químico. É importante que os autos construtores de casas populares atente para o fator “caixa de gordura”. Trata-se de um reservatório ao longo do percurso do encanamento. Ele deve ser construído com tampa removível, para justamente permitir a boa manutenção ou a desobstrução do encanamento. Você alugou ou comprou a casa – sabe onde está a caixa de gordura? Se a casa foi construída por pessoas mais velhas, pergunte a elas onde encontra-se instalado este reservatório – divulgue isso para os parentes que moram com você. Esta informação pode ser muito útil em caso de entupimento do sistema de esgoto da sua “humilde residência”.
        </p>

    </div>

    <div class="col-md-4">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Simplex 2016-01 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1847611814626404"
             data-ad-slot="6069916587"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>


